<div class="modules-code md-whiteframe-z1">
    
    <div layout="row" class="recommendation" flex="grow">
        <div flex="grow">
            <ng-include src="'app/ams-recommendations/sponsored-ads/sp-recommendation-base.tmpl.html'"></ng-include>
            <md-table-container flex ng-hide="vm.isLoading || vm.error" style="padding-top: 40px;margin-right: 10px; padding-bottom: 40px" >
              <table md-table md-row-select multiple ng-model="selected" md-progress="promise" > 

                <thead class="head-cls" md-head md-order="query.order" md-on-reorder="getDesserts" >
                  <tr md-row>
                    <th md-column><span>Analysis Date</span></th>
                    <th md-column md-order-by="campaign"><span>Campaign</span></th>
                    <th md-column md-order-by="keyword"><span>Keyword</span></th>
                    <th md-column md-numeric md-order-by="clicks"># of Clicks</th>
                    <th md-column md-numeric>Recommended Bid</th>
                    <th md-column md-order-by="performance">Performance</th>
                    <th md-column md-numeric>Current Week Bid</th>
                    <th md-column md-numeric>Previous Week Bid</th>
                    <th md-column>Match Type</th>
                  </tr>
                </thead>
                <tbody md-body class="tbody-cls">
                  <tr md-row md-select="keyWordBid"  ng-repeat="keyWordBid in keywordBids | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{keyWordBid.analysisDate | date:'yyyy-MM-dd'}}</td>
                    <td md-cell>{{keyWordBid.campaign}}</td>
                    <td md-cell>{{keyWordBid.keyword}}</td>
                    <td md-cell>{{keyWordBid.clicks}}</td>
                    <td md-cell ng-click="editBid($event, keyWordBid)">{{keyWordBid.recommendedBid}} <md-icon class="md-cyan-theme md-font material-icons zmdi zmdi-edit" md-font-icon="zmdi zmdi-edit" aria-hidden="true" ></md-icon></td>
                    <td md-cell>{{keyWordBid.performance}}</td>
                    <td md-cell>{{keyWordBid.currentBid}}</td>
                    <td md-cell>{{keyWordBid.prevBid}}</td>
                    <td md-cell>{{keyWordBid.matchType}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{keywordBids.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" class="pag-cls"></md-table-pagination>

        </div>
    </div>
</div>


