$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;

// import angular material scss
@import "angular-material/angular-material.scss";

@font-face {
    font-family: DINPro-Regular_13937;
    src: url(/assets/fonts/DINPro-Regular_13937.ttf);
}

body {
  color: #212121;
  font-family: DINPro-Regular_13937;
  font-size:16px !important;
}

// set template font family
button, select, html, textarea, input {
  font-family: DINPro-Regular_13937;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
