<md-card>
    <md-toolbar class="padding-20 text-center">
        <img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}">
        <h1 class="md-headline" translate>Set your password</h1>
    </md-toolbar>

    <md-content class="md-padding md-error-message" ng-show="vm.password.error">
        {{vm.password.message}}

    </md-content>
    <md-content class="md-padding">
        
        <div layout = "row" layout-sm = "column" flex  layout-align="left center">
            <p translate>Please set your password below </p>
            <md-button class="md-icon-button">
              <md-tooltip class="tooltip-multiline">Password should be atleast 6 character in length, one capital letter, one number and one special character (< > $ # @ % ^ & * ( ) + ! ? [] { })</md-tooltip>
              <md-icon md-font-icon="zmdi zmdi-info"></md-icon>
            </md-button>
        </div>
        
        <form name="forgot">
            <md-input-container class="md-block">
                <label for="password" translate>password</label>
                <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" ng-pattern="/^(?=.*[A-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\@\#\$\%\^\&\*\(\)\_\+\!\<\>\}\{\?\]\[])\S{6,32}$/" required ng-model-options="{ getterSetter: true }"/>
                <div ng-messages="forgot.password.$error" md-auto-hide="false" ng-show="forgot.password.$touched">
                    <div ng-message when="required"><span translate>Please enter your password address.</span></div>
                    <div ng-message when="pattern"><span translate>Password should be atleast 6 character in length, one capital letter, one number and one special character (< > $ # @ % ^ & * ( ) + ! ? [] { })</span></div>
                </div>
            </md-input-container>

            <div layout = "row" layout-sm = "column" flex center layout-align="center center" ng-show="vm.isLoading">
                <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
            </div>


            <md-button class="md-raised md-accent full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.resetClick()" ng-disabled="forgot.$invalid" translate="Reset Password" aria-label="{{'Reset' | triTranslate}}"></md-button>

        </form>
    </md-content>
</md-card>
